{% comment %}<!--
###############################################################################
# Copyright 2013 Grigoriy Kramarenko.
###############################################################################
# This file is part of BWP.
#
#    BWP is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    BWP is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with BWP.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть BWP.
#
#   BWP - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   BWP распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################

-->{% endcomment %}
{% load i18n l10n base_extras %}

<!-- START: block carousel -->
{% block carousel %}
<div class="carousel slide" id="headCarousel">
    <div class="carousel-inner">
    {% for obj in carousel_list %}
        <div class="item{% if forloop.counter == 0 %} active{% endif %}">
            <img alt="{{ obj }}" src="{{ obj.image.url }}">
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{ obj.title }}</h1>
                    <p class="lead">{{ obj.about }}</p>
                    <a href="{{ obj.link }}" class="btn btn-large btn-primary">{{ obj.link_title }}</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    <a data-slide="prev" href="#headCarousel" class="left carousel-control">‹</a>
    <a data-slide="next" href="#headCarousel" class="right carousel-control">›</a>
</div>
{% endblock %}
<!-- END: block carousel -->

