{% extends "bwp/base.html" %}
{% load i18n bwp_static bwp_locale %}

{% block bodyclass %}index{% endblock %}

{% block content %}
{% if app_list %}
    <ul class="nav nav-tabs" id="mainTab">
        <li id="menu-app" style="padding-top: 3px; margin: 3px 10px;">
            <div class="dropdown">
                <a class="btn dropdown-toggle" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    <i class="icon-th-list"></i>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                {% for app in app_list %}
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">{% app_label_locale app.name %}</a>
                        <ul class="dropdown-menu">
                        {% for model in app.models %}
                            {% if model.admin_url %}
                                <li><a href="{{ model.admin_url }}">{{ model.name }}</a></li>
                            {% else %}
                                <li class="disabled"><a href="#">{{ model.name }}</a></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
                </ul>
            </div>
        </li>
        <li class="divider-vertical"></li>
    </ul>
    <div class="tab-content"></div>

{% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
{% endif %}

{% endblock %}
