{% extends "base.html" %}{% comment %}<!--
###############################################################################
# Copyright 2013 Grigoriy Kramarenko.
###############################################################################
# This file is part of BWP.
#
#    BWP is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    BWP is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with BWP.  If not, see <http://www.gnu.org/licenses/>.
#
# Этот файл — часть BWP.
#
#   BWP - свободная программа: вы можете перераспространять ее и/или
#   изменять ее на условиях Стандартной общественной лицензии GNU в том виде,
#   в каком она была опубликована Фондом свободного программного обеспечения;
#   либо версии 3 лицензии, либо (по вашему выбору) любой более поздней
#   версии.
#
#   BWP распространяется в надежде, что она будет полезной,
#   но БЕЗО ВСЯКИХ ГАРАНТИЙ; даже без неявной гарантии ТОВАРНОГО ВИДА
#   или ПРИГОДНОСТИ ДЛЯ ОПРЕДЕЛЕННЫХ ЦЕЛЕЙ. Подробнее см. в Стандартной
#   общественной лицензии GNU.
#
#   Вы должны были получить копию Стандартной общественной лицензии GNU
#   вместе с этой программой. Если это не так, см.
#   <http://www.gnu.org/licenses/>.
###############################################################################
-->{% endcomment %}
{% load i18n l10n base_extras %}

{% block content %}

{% if thanks %}
    <div class="alert alert-block alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Спасибо за обращение!</h4>
        Мы свяжемся с Вами, если потребуется, доступным способом....
    </div>
{% endif %}

<legend>
    {{ simplepage.title }}
    {% if user.is_staff %}
    <div class="pull-right">
        <a href="{% url admin_edit 'simplepage' simplepage.id %}">
            <i class="icon-edit" rel="tooltip" title="редактировать страницу"></i>
        </a>
    </div>
    {% endif %}
</legend>

{% if simplepage.simplepage_set.count %}
    {% for sp in simplepage.simplepage_set.all|is_active %}
        <p><a href="{{ sp.get_absolute_url }}">{{ sp.title }}</a></p>
    {% endfor %}
{% else %}
    {% if renderedpage %}
        {{ renderedpage|safe }}
    {% else %}
        {% if simplepage.text %}
            {{ simplepage.text|safe }}
        {% else %}
            <i>Данная страница пока не оформлена, зайдите сюда позже.</i>
        {% endif %}
    {% endif %}
{% endif %}

<hr>

{% if not thanks %}
    {% if contact_form %}
    <div class="well">
        <legend>Свяжитесь с нами или оставьте отзыв</legend>
        <form class="form" action="" method="post">{% csrf_token %}
            <div class="control-group info">
                {% if contact_form.subject.errors %}
                    <p class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Поле «Тема сообщения»: {{ contact_form.subject.errors|striptags }}
                    </p>
                {% endif %}
                <div class="controls">
                    <input style="width: 98.5%;" type="text" name="subject" 
                    id="id_subject" placeholder="Тема сообщения"
                    value="{{ contact_form.subject.value|default:"" }}">
                </div>
            </div>
            
            <div class="control-group warning">
                {% if contact_form.email.errors %}
                    <p class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Поле «Email»: {{ contact_form.email.errors|striptags }}
                    </p>
                {% endif %}
                <div class="controls">
                    <input style="width: 98.5%;" type="text" name="email" 
                    id="id_email" placeholder="Email"
                    value="{{ contact_form.email.value|default:""|cut:" " }}">
                </div>
            </div>
            
            <div class="control-group info">
                {% if contact_form.message.errors %}
                    <p class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        Поле «Текст сообщения»: {{ contact_form.message.errors|striptags }}
                    </p>
                {% endif %}
                <div class="controls">
                    <textarea style="width: 98.5%;" name="message" 
                    rows="3" id="id_message" 
                    placeholder="Текст сообщения: то, о чём нам стоит узнать от Вас."
                    >{{ contact_form.message.value|default:"" }}</textarea>
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls align-right">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </div>
            
        </form>
    </div>
    {% endif %}
{% endif %}

{% endblock %}
