{# Шаблон Underscore #}{% load bwp_verbatim %}{% verbatim %}
{% _.each(compositions, function(compose) { %}
<div class="tab-pane" id="tab-content-compose-pane_{{ compose.id }}">
    <legend>{{ compose.label }}</legend>
    <div class="btn-toolbar" id="div-compose-actions_{{ compose.id }}">
        <button class="btn btn-mini"><i class="icon-plus"></i></button>
        <button class="btn btn-mini"><i class="icon-minus"></i></button>
        <button class="btn btn-mini"><i class="icon-edit"></i></button>
        <button class="btn btn-mini"><i class="icon-plus-sign"></i></button>
        <button class="btn btn-mini"><i class="icon-exclamation-sign"></i></button>
    </div>
    <table class="table table-bordered table-condensed"
        data-model="{{ compose.model }}"
        data-pk="{{ compose.pk }}"
        data-compose="{{ compose.compose }}">
        {%/* загрузка в таблицу производится позже */%}
    </table>
</div>
{% }); %}
{% endverbatim %}
