{# Шаблон Underscore #}

<% var index = data.filters.length -1 %>

<tr data-filter_index="<%= index %>">

    <% /* Поле фильтра */ %>
    <td class="input-micro">
        <select data-action="filter_change_field" data-id="<%= data.id %>"
            data-filter_index="<%= index %>" class="form-control">
            <option selected value="">-</option>
        <% _.each(data.meta.filters, function(filter) { %>
            <option value="<%= filter.field %>" title="<%= filter.field %>"><%= filter.field_title %></option>
        <% }); %>
        </select>
    </td>

    <% /* Тип фильтра */ %>
    <td class="input-micro">
        <select data-action="filter_change_type" data-id="<%= data.id %>"
            data-filter_index="<%= index %>"
            class="form-control"
            disabled>
            <option selected value="">-</option>
        <% _.each(FILTER_TYPES, function(type, i) { %>
            <option value="<%= type[0] %>">
                <%= type[1] %>
            </option>
        <% }); %>
        </select>
    </td>

    <% /* Значения фильтра */ %>
    <td data-place="filter_values" data-filter_index="<%= index %>">
    </td>

    <% /* Активность фильтра */ %>
    <td class="input-micro">
        <button
            class="btn btn-default <% if (item.active) { %>active<% } %>"
            data-toggle="button"
            data-action="filter_change_active"
            data-filter_index="<%= index %>"
            data-id="<%= data.id %>"
            title="Активный">
            <i class="fa fa-check"></i>
        </button>
    </td>
    <% /* Инверсия фильтра */ %>
    <td class="input-micro">
        <button
            class="btn btn-default <% if (item.inverse) { %>active<% } %>"
            data-toggle="button"
            data-action="filter_change_inverse"
            data-id="<%= data.id %>"
            data-filter_index="<%= index %>"
            disabled
            title="Инверсия">
            <i class="fa fa-random"></i>
        </button>
    </td>

    <% /* Удаление фильтра */ %>
    <td class="input-micro">
        <button
            class="btn btn-default"
            data-action="filter_remove"
            data-id="<%= data.id %>"
            data-filter_index="<%= index %>"
            title="Удалить фильтр">
            <i class="fa fa-remove"></i>
        </button>
    </td>

</tr>

