{% load static bwp_base %}
{# Шаблон Underscore #}
<div class="row-fluid">
<% if (data.composes.length > 0) { %>
    <div class="btn-group" data-toggle="buttons-radio" data-id="<%= data.id %>">
        <button class="btn btn-sm btn-primary active" data-toggle="tab" data-target="#objectpane_<%= data.id %>">
            <span>Объект</span>
        </button>
    <% _.each(data.composes, function(compose) { %>
        <% /* Если объект не сохранён в DB, то запрещаем операции с вложениями */ %>
        <% var _compose_btn_class = 'btn-default'; if (compose.is_m2m) { _compose_btn_class = 'btn-info'} %>
        <button class="btn btn-sm <%= _compose_btn_class %>"
        <% if (!data.pk) { %> disabled
        <% } else { %>data-toggle="tab" data-loading="true"
        <% } %> data-target="#layout_<%= compose.id %>" data-id="<%= compose.id %>">
            <span><%= compose.label %></span>
        </button>
    <% }); %>
    </div>
    <div class="btn-group">
    <% if ((data.model.object_reports) && (data.pk)) { %>
        <button class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown">
            <span><i class="fa fa-print"></i> Отчёты</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <% _.each(data.model.object_reports, function(report) { %>
                <li><a href="#" data-action="object_print"
                    data-id="<%= data.id %>" data-model="<%= data.model.name %>" data-pk="<%= data.pk %>" data-report="<%= report.pk %>">
                        <span><%= report.title %></span>
                    </a>
                </li>
            <% }); %>
        </ul>
    <% }; %>
    </div>
<% } %>
    <div class="tab-content">
    <% _.each(data.composes, function(compose) { %>
        <div class="tab-pane" id="layout_<%= compose.id %>">
            <div align="center"><i class="fa fa-spinner fa-pulse fa-5x"></i></div>
        </div>
    <% }); %>
        <div class="tab-pane active" id="objectpane_<%= data.id %>">
            <h3><%= data.label %> <small class="pull-right"><%= data.pk ? 'ID='+data.pk : '' %></small></h3>
            
            <form data-id="<%= data.id %>">
                {% include "bwp/underscore/_object_fields.html" %}
            </form>

            <div class="control-group">
                <div class="controls">
                    <div class="btn-group">
                        {% include "bwp/underscore/_button_delete.html" %}
                        {% include "bwp/underscore/_button_reset.html" %}
                        {% include "bwp/underscore/_button_copy.html" %}
                        {% include "bwp/underscore/_button_apply.html" %}
                        {% include "bwp/underscore/_button_save.html" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
