{# Шаблон Underscore #}{% load bwp_verbatim %}{% verbatim %}
<!--
<div class="navbar nav-pills" id="navbar_{{ data.id }}">
  <div class="navbar-inner">
-->
    {% if (data.meta.search_fields.length) { %}
    <ul class="nav nav-pills pull-right">
      <li class="navbar-search pull-left form-search">
        <input data-action="collection_filter" data-id="{{ data.id }}" type="text" class="search-query" placeholder="Поиск">
      </li>
    </ul>
    {% } %}
    {% if (data.paginator) { var _per_page = data.paginator.per_page || data.meta.list_per_page; %}
    {% } else { var _per_page = data.meta.list_per_page;} %}
    <ul class="nav nav-pills">
        <li>
            <div class="btn-toolbar">
            {% if (data.perms.add) { %}
                <div class="btn-group">
                    <button class="btn btn-mini" data-id="{{ data.id }}" data-action="object_add">Новый</button>
                </div>
            {% } %}
                <div class="btn-group">
                    <a class="btn btn-mini dropdown-toggle"
                       data-toggle="dropdown"
                       href="#">
                        <span data-placeholder="collection_count" data-id="{{ data.id }}">{{ _per_page }}</span>
                        на странице
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% _.each([5,15,25,50,100,200], function(digit) { %}
                            <li><a href="#" data-action="collection_count" data-id={{ data.id }} data-count="{{ digit }}">{{ digit }}</a></li>
                        {% }); %}
                    </ul>
                </div>
            </div>
        </li>
    </ul>
<!--
  </div>
</div>
-->
<div id="collection_{{ data.id }}">
</div>
{% endverbatim %}
