{# Шаблон Underscore #}{% load bwp_verbatim %}{% verbatim %}
<!--
<div class="navbar nav-pills" id="navbar_{{ data.id }}">
  <div class="navbar-inner">
-->
    {% if (data.meta.search_fields.length) { %}
    <ul class="nav nav-pills pull-right">
      <li class="navbar-search pull-left form-search">
        <input data-action="collection_filter" data-id="{{ data.id }}" type="text" class="search-query" placeholder="Поиск">
      </li>
    </ul>
    {% } %}
    {% if (data.paginator) { var _per_page = data.paginator.per_page || data.meta.list_per_page; %}
    {% } else { var _per_page = data.meta.list_per_page;} %}
    <ul class="nav nav-pills">
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
            <span data-placeholder="collection_count" data-id="{{ data.id }}">{{ _per_page }}</span>
            на странице
            <b class="caret"></b>
          </a>
        <ul class="dropdown-menu">
            {% _.each([5,15,25,50,100,200], function(digit) { %}
                <li><a href="#" data-action="collection_count" data-id={{ data.id }} data-count="{{ digit }}">{{ digit }}</a></li>
            {% }); %}
        </ul>
      </li>
    </ul>
<!--
  </div>
</div>
-->
<div id="collection_{{ data.id }}">
</div>
{% endverbatim %}
