{# Шаблон Underscore #}{% load bwp_verbatim %}{% verbatim %}
<div class="row-fluid">
    <div class="btn-group" data-toggle="buttons-radio">
        <a href="#" class="btn btn-mini active"
            data-toggle="tab"
            data-target="#tab-content-object-pane_{{ id }}">
            Объект
        </a>
    {% _.each(compositions, function(compose) { %}
        {%/* Если объект не сохранён в DB, то запрещаем операции с вложениями */%}
        <a href="#" class="btn btn-mini"
        {% if (!pk) { %}
            disabled="disabled"
        {% } else { %}
            data-toggle="tab"
        {% } %}
            data-target="#tab-content-compose-pane_{{ compose.id }}">
            {{ compose.label }}
        </a>
    {% }); %}
    </div>
    <p></p>
    <div class="tab-content">
{% endverbatim %}
        {% include "bwp/underscore/_object_form.html" %}
        {% include "bwp/underscore/_compose_panes.html" %}
    </div>
</div>
